doctype html
html

        head
                
                meta(charset="utf-8")
                
                meta(name="description", content="")

                meta(name="keywords", content="")
                
                meta(name="author", content="Vicent Kun")
                
                title FrameWork- #{title}
                
                meta(http-equiv="Content-Language", content="es-es")

                meta(name="fragment", content="!")
        
                meta(name="apple-mobile-web-app-capable", content="yes")

                meta(name="mobile-web-app-capable", content="yes")

                meta(name="viewport",content="width=device-width, initial-scale=1.0")

                link(rel="icon", sizes="192x192", href="nice-highres.png") 
        
                link(rel="icon", sizes="128x128", href="niceicon.png")
        
                link(rel="apple-touch-icon", sizes="128x128", href="niceicon.png")
        
                link(rel="apple-touch-icon-precomposed", sizes="128x128", href="niceicon.png")

                link(href="nice-highres.png", rel="icon", type="image/x-icon")

                link(href="nice-highres.png", rel="shortcut icon")
                
                link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
        
                link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-deep_purple.min.css")

                link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

                link(href="css/style.min.css", rel="stylesheet", type="text/css")
                
        body
        
                block content
                
                footer
                
                        p some footer content. [This is a footer]
                
                //--------------------- A partir de aquí los JAVASCRIPTS --------------->
                script(src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js")
                
                script(src="js/jspm_packages/system.js")
                
                script(src="js/config.js")
                
                script(type="text/javascript").

                        System.import('js/main.js');
  